*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(243, 94, 243);
    padding: 50px;
    padding-left: 170px;
}
div{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    height: 600px;
    width: 1000px; 
    border-radius: 25px;
}
img{
    height: 300px;
    width: 300px;
}
section{
    padding-top: 160px;
    padding-left: 40px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px 80px;
    font-family: sans-serif;
}
h1{
    padding-bottom: 25px;
    text-align: center;
}
input{
    height: 45px;
    width: 450px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: rgb(226, 222, 222);
}
button{
    height: 45px;
    width: 450px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: rgba(20, 245, 20, 0.932);
    color: white;
}
p{
    text-align: center;
}
.anker{
    text-align: center;
    padding-top: 20px;
    color: rgb(20, 231, 20);
    text-decoration: none;
}
a{
    color: rgb(20, 247, 20);
    text-decoration: none;
}

